---
http_interactions:
- request:
    method: get
    uri: https://api.freepik.com/v1/ai/gemini-2-5-flash-image-preview/14fc0c3d-4923-47bc-ae2c-b071542db9a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"14fc0c3d-4923-47bc-ae2c-b071542db9a2","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/result_NANO_BANANA_14fc0c3d-4923-47bc-ae2c-b071542db9a2_0.png?token=exp=1760749154~hmac=69edca884ff7316584f76f40d729c4985f37921e92adc03b9497879913126a00&size=stable"]}}'
  recorded_at: Sat, 18 Oct 2025 00:06:16 GMT
- request:
    method: get
    uri: https://api.freepik.com/v1/ai/gemini-2-5-flash-image-preview/14fc0c3d-4923-47bc-ae2c-b071542db9a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"14fc0c3d-4923-47bc-ae2c-b071542db9a2","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/result_NANO_BANANA_14fc0c3d-4923-47bc-ae2c-b071542db9a2_0.png?token=exp=1760749154~hmac=69edca884ff7316584f76f40d729c4985f37921e92adc03b9497879913126a00&size=stable"]}}'
  recorded_at: Sat, 18 Oct 2025 00:06:16 GMT
recorded_with: VCR 6.3.1
