---
http_interactions:
- request:
    method: post
    uri: https://api.freepik.com/v1/ai/gemini-2-5-flash-image-preview
    body:
      encoding: UTF-8
      string: '{"prompt":"little kitten goes to school\nThe same ratio as reference
        image.","reference_images":["https://prompture.s3.eu-central-1.amazonaws.com/vertical.jpg"]}'
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"14fc0c3d-4923-47bc-ae2c-b071542db9a2","status":"CREATED","generated":[]}}'
  recorded_at: Fri, 17 Oct 2025 23:59:02 GMT
recorded_with: VCR 6.3.1
