---
http_interactions:
- request:
    method: post
    uri: https://api.freepik.com/v1/ai/text-to-image/imagen3
    body:
      encoding: UTF-8
      string: '{"prompt":"little kitten goes to school","aspect_ratio":"social_story_9_16","styling":{"style":"3d"}}'
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"a35022aa-611a-40a1-a792-4562a4058aab","status":"CREATED","generated":[]}}'
  recorded_at: Sun, 26 Oct 2025 01:01:34 GMT
recorded_with: VCR 6.3.1
