---
http_interactions:
- request:
    method: post
    uri: https://api.freepik.com/v1/ai/text-to-image/imagen3
    body:
      encoding: UTF-8
      string: '{"prompt":"little kitten goes to school","aspect_ratio":"social_story_9_16","styling":{"style":"3d"}}'
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized: The provided API key is invalid. Please verify
        your API key at https://www.freepik.com/developers/dashboard/api-key. If you
        need a new key, you can request one at https://www.freepik.com/api."}

        '
  recorded_at: Sun, 26 Oct 2025 01:02:39 GMT
recorded_with: VCR 6.3.1
