---
http_interactions:
- request:
    method: get
    uri: https://api.freepik.com/v1/ai/text-to-image/imagen3/a35022aa-611a-40a1-a792-4562a4058aab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"a35022aa-611a-40a1-a792-4562a4058aab","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/imagen3_a35022aa-611a-40a1-a792-4562a4058aab_0.png?token=exp=1761444103~hmac=70070e0512fdd937b5195b51a108b8c95363d5979f2dfe18015e888fa18f2d6d&size=stable"]}}'
  recorded_at: Sun, 26 Oct 2025 01:20:55 GMT
- request:
    method: get
    uri: https://api.freepik.com/v1/ai/text-to-image/imagen3/a35022aa-611a-40a1-a792-4562a4058aab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"a35022aa-611a-40a1-a792-4562a4058aab","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/imagen3_a35022aa-611a-40a1-a792-4562a4058aab_0.png?token=exp=1761444103~hmac=70070e0512fdd937b5195b51a108b8c95363d5979f2dfe18015e888fa18f2d6d&size=stable"]}}'
  recorded_at: Sun, 26 Oct 2025 01:20:55 GMT
recorded_with: VCR 6.3.1
