---
http_interactions:
- request:
    method: get
    uri: https://api.freepik.com/v1/ai/image-to-video/kling-v2-1/192e8a86-eabf-40ce-b92a-33c6b7c2173d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"192e8a86-eabf-40ce-b92a-33c6b7c2173d","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/kling_192e8a86-eabf-40ce-b92a-33c6b7c2173d.mp4?token=exp=1761445403~hmac=4f4e13f2b5707fea609f1447da190ded4c539775255ddf40b880801413921f0c"]}}'
  recorded_at: Sun, 26 Oct 2025 01:24:32 GMT
- request:
    method: get
    uri: https://api.freepik.com/v1/ai/image-to-video/kling-v2-1/192e8a86-eabf-40ce-b92a-33c6b7c2173d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"192e8a86-eabf-40ce-b92a-33c6b7c2173d","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/kling_192e8a86-eabf-40ce-b92a-33c6b7c2173d.mp4?token=exp=1761445403~hmac=4f4e13f2b5707fea609f1447da190ded4c539775255ddf40b880801413921f0c"]}}'
  recorded_at: Sun, 26 Oct 2025 01:24:32 GMT
recorded_with: VCR 6.3.1
