---
http_interactions:
- request:
    method: post
    uri: https://api.freepik.com/v1/ai/image-to-video/kling-v2-1-pro
    body:
      encoding: UTF-8
      string: '{"prompt":null,"duration":"5","image":"https://cdn-magnific.freepik.com/imagen3_a35022aa-611a-40a1-a792-4562a4058aab_0.png?token=exp=1761444103~hmac=70070e0512fdd937b5195b51a108b8c95363d5979f2dfe18015e888fa18f2d6d\u0026size=stable"}'
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized: The provided API key is invalid. Please verify
        your API key at https://www.freepik.com/developers/dashboard/api-key. If you
        need a new key, you can request one at https://www.freepik.com/api."}

        '
  recorded_at: Sun, 26 Oct 2025 01:22:36 GMT
recorded_with: VCR 6.3.1
