---
http_interactions:
- request:
    method: post
    uri: https://api.freepik.com/v1/ai/mystic
    body:
      encoding: UTF-8
      string: '{"aspect_ratio":"social_story_9_16","model":"zen","filter_nsfw":false,"resolution":"2k","prompt":"little
        kitten goes to school"}'
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"0a5f0976-011d-411e-abdf-8da8bd07ef9e","status":"CREATED","generated":[]}}'
  recorded_at: Tue, 07 Oct 2025 15:51:40 GMT
