---
http_interactions:
- request:
    method: post
    uri: https://api.freepik.com/v1/ai/mystic
    body:
      encoding: UTF-8
      string: '{"aspect_ratio":"social_story_9_16","model":"zen","filter_nsfw":false,"resolution":"2k","prompt":"little
        kitten goes to school"}'
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized: The provided API key is invalid. Please verify
        your API key at https://www.freepik.com/developers/dashboard/api-key. If you
        need a new key, you can request one at https://www.freepik.com/api."}

        '
  recorded_at: Wed, 15 Oct 2025 00:59:23 GMT
recorded_with: VCR 6.3.1
