---
http_interactions:
- request:
    method: get
    uri: https://api.freepik.com/v1/ai/mystic/0a5f0976-011d-411e-abdf-8da8bd07ef9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      x-freepik-api-key:
      - FREEPIK_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"data":{"task_id":"0a5f0976-011d-411e-abdf-8da8bd07ef9e","status":"COMPLETED","generated":["https://ai-statics.freepik.com/content/mg-upscaler/uayccbiybndebh7v2izx6fy6oe/8c3bb0e2-a6c8-4eaf-9fd2-456b1fe5fe91_192d7016-d79f-4716-8870-40431cf00a98.png?token=exp=1759938722~hmac=8e074ea85722b1fec3e8f3c15c1a97b1"],"has_nsfw":[false]}}'
  recorded_at: Tue, 07 Oct 2025 16:13:33 GMT
