h1 Users

table
  thead
    tr
      th ID
      th Name
      th Locale
      th Balance
      th Admin
  tbody
    - @users.each do |user|
      tr
        td = user.id
        td = link_to user.name, user_path(user)
        td = user.locale
        td = user.balance&.credits || 0
        td = user.admin? ? "yes" : "no"
